div.container{
    margin-top: 8%;
    margin-right: 2%;
}

.table-responsive {
    overflow-x: auto;
  }
  
  @media screen and (max-width: 767px) {
    .table-responsive {
      overflow-x: scroll;
    }
  }